body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */	
	font-family: 'Lato', arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 300;
	background-color: whitesmoke !important;
}

hr.dashed {
	border-top: 3px dashed #bbb;
	width: 800px;
  }

  
hr.rounded {
	border-top: 8px solid #bbb;
	border-radius: 5px;
	width: 700px;
  }

.Total_Label{
	font-size: 30px;
	  /* color: #847bf7;	   */
	  color: black;
  	/* text-transform: uppercase; */
  	font-weight: normal;
  	line-height: 1;
  	text-align: center;
	  /* margin: 0px 50px 0 -50px; */
	margin: 0px 0px 0px 0px;
	
	padding-top: 30px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	
	  
}

.card_Historical_Chart{
	width: 1100px;
	margin: 0 auto;
	float: none;
	margin-bottom: 10px;
}

.container-table{
	margin-top: 20px;	
}
.page-header{
	margin-bottom: 50px;
	text-align: center;
}

.navbar.navbar-dark .navbar-header {
    text-align: center;
	width: 100%;
	height: 0%;
}

.container-fluid-nav{
	display: flex;
	justify-content: space-around;
}

.select,
  #locale {
    width: 100%;
  }
  .like {
    margin-right: 10px;
  }

footer {
	margin: 50px 0;
}